//https://dev.to/webdeasy/top-20-css-buttons-animations-f41//
.glow-on-hover {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: $color2;
    background: $color8;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    @include glow(linear-gradient(45deg, $color5, $color3, $color6, $color3, $color7, $color3, $color4), -2px, -2px, calc(100% + 4px), calc(100% + 4px));

    background-size: 400%;
    filter: blur(2px);
    animation: glowing 20s ease infinite;
    opacity: 0;
    transition: opacity .5s ease-in;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    @include glow($color8, 0, 0, 100%, 100%);

}

@keyframes glowing {
    0% { 
        background-position: 0 0; 
    }
    50% { 
        background-position: 400% 0; 
    }
    100% { 
        background-position: 0 0; 
    }
}