.header {
    @include grid(header, $color1);
    @include flex();
}

.navbar {
    @include grid(nav, $color2);
    @include flex();

    & .navbar__list {
        list-style-type: none;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        & .navbar__item {
            display: inline;
            padding-left: 1em;
            padding-right: 1rem;
        }
    }
}

.aside {
    @include grid(sidebar, $color3);
    @include flex();
}

.main {
    @include grid(main, $color4);
    @include flex();
}

.footer {
    @include grid(footer, $color5);
    @include flex();
}

.container {
    @include flex();
}
