.header {
    @include grid(header, $red);
    @include flex();
}

.navbar {
    @include grid(nav, $green);
    @include flex();

    &__list {
        list-style-type: none;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    &__item {
        display: inline;
        padding-left: 1em;
        padding-right: 1rem;
    }     
    }
}

.aside {
    @include grid(sidebar, $purple);
    @include flex();
}

.main {
    @include grid(main, $orange);
    @include flex();
}

.footer {
    @include grid(footer, $blue);
    @include flex();
}

.container {
    @include flex();
}
