/* HTML 
- applied to the main structure and/or every element within the webpage */
html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

/* Text*/
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
p {
    font-size: 15px;
}