/* Header
- apply flex display and red background to the header */
.header {
    @include grid(header, $red);
    @include flex();
}

/* Navbar
- apply flex display and green background to the navbar
- make list flex in the navbar and get rid of bullets */

.navbar {
    @include grid(nav, $green);
    @include flex();

    &__list {
        list-style-type: none;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__item {
        display: inline;
        padding-left: 1em;
        padding-right: 1rem;   
    }
}

/* Aside
- apply flex display and purple background to the sidebar */
.aside {
    @include grid(sidebar, $purple);
    @include flex();
}
/* Main
- apply flex display and orange background to the main content */
.main {
    @include grid(main, $orange);
    @include flex();
}

/* Footer
- apply flex display and blue background to the footer */
.footer {
    @include grid(footer, $blue);
    @include flex();
}

/* Content Containers
- content container for each area/section */
.container {
    @include flex();
}
