/* HTML 
- applied to the main structure and/or every element within the webpage */
html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

/* Text*/
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    font-size: 1em;
}