html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-areas: "header header header header header header"
                        "nav nav nav nav nav nav"
                        "sidebar sidebar main main main main"
                        "footer footer footer footer footer footer";
    grid-template-rows: 1fr .5fr 5fr 1fr;
    height: 100vh;
    font-size: 20px;             
}
